.login_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 800px;
}

.login_topic {
  color: black;
  font-weight: 700;
  font-size: 40pt;
}

.login_form_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.login_input {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16pt;
  border-radius: 5px;
  border: 1px solid black;
}

.login_button {
  font-size: 14pt;
  margin: 0px;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  color: white;
  min-width: 50px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #82af6f;
}
.login_button:focus {
  outline: none;
}
.login_button:hover {
  background-color: rgba(34, 192, 42, 0.294);
}
